.shopping-cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  z-index: 10;
}

.shopping-cart {
  width: 60%;
  height: 90%;
  margin: 2rem auto;
  background-color: #ebebeb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.shopping-cart-header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  height: 100px;
  color: white;
}

.shopping-cart-header-title-cart {
  margin-top: 30px;
  margin-left: 30px;
}

.shopping-cart-header-close-btn {
  margin-top: 28px;
  margin-right: 20px;
}

.close-btn {
  color: white;
}

.shopping-cart-products {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  gap: 10px;
  padding-top: 2%;
}

.empty-text {
  display: block;
  margin: auto;
  font-size: 15px;
}

.shopping-cart-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.shopping-cart-product-image {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 150px;
  border-right: 8px solid #ebebeb;
}

.shopping-cart-product-image img {
  padding: 5px;
  width: 100px;
  object-fit: contain;
}

.shopping-cart-product-info {
  width: 80%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.shopping-cart-product-info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 0;
  margin: 0;
}

.shopping-cart-product-info p {
  font-size: 14px;
}

.shopping-cart-product-price {
  font-size: 16px;
}

.shopping-cart-product-info-2 {
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 25px;
}

.shopping-cart-product select {
  height: 30px;
  width: 80%;
  font-size: 1rem;
  outline: none;
}

.checkout-btn {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  align-self: center;
  margin-top: 25px;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 990px) {
  .shopping-cart {
    width: 90%;
  }
}

@media (max-width: 726px) {
  .shopping-cart {
    width: 98%;
  }

  .shopping-cart-product-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .shopping-cart-product-info-1 p {
    text-align: center;
  }

  .shopping-cart-product-info-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .shopping-cart-product select {
    height: 20px;
    width: 30%;
    font-size: 0.8rem;
    outline: none;
  }

  .shopping-cart-product-image img {
    padding: 15px;
  }

  .checkout-btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .shopping-cart-product-image {
    width: 30%;
    height: 120px;
  }

  .shopping-cart-product-info {
    width: 70%;
  }

  .shopping-cart-product-info p {
    font-size: 11px;
  }

  .shopping-cart-product-price {
    font-size: 13px;
  }

  .shopping-cart-product-info-2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .shopping-cart-product select {
    height: 20px;
    width: 40%;
    font-size: 0.8rem;
    outline: none;
  }
}

@media (max-width: 300px) {
  .shopping-cart {
    padding: 5px;
  }

  .empty-text {
    font-size: 12px;
  }

  .shopping-cart-header {
    height: 50px;
  }

  .shopping-cart-header-title-cart {
    margin-top: 13px;
    margin-left: 10px;
  }

  .shopping-cart-header-close-btn {
    margin-top: 9px;
    margin-right: 10px;
  }

  .close-btn svg {
    padding: 3px;
  }

  .shopping-cart-product-image {
    height: 100px;
  }

  .shopping-cart-product-image img {
    padding: 20px;
  }

  .shopping-cart-product-info-1 p {
    font-size: 9px;
  }

  .shopping-cart-product select {
    font-size: 0.6rem;
  }

  .remove-btn svg {
    padding: 3px;
  }

  .checkout-btn {
    font-size: 0.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
