.products-loading {
  text-align: center;
  padding-top: 80px;
}

.products-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
}

.products-figure {
  background-color: white;
  width: 180px;
  border-radius: 2%;
}

.products-figure:hover {
  -webkit-box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.34);
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.2s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

.products-image {
  width: 160px;
  height: 160px;
  object-fit: contain;
  background-color: white;
  margin: auto;
  display: block;
  padding: 15px;
}

.price {
  display: flex;
  justify-content: flex-start;
  padding: 10px 12px;
  border-top: 1px solid #ebebeb;
}

.price p {
  font-size: 16px;
}

@media screen and (max-width: 487px) {
  
  .products-figure {
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 5px;
  }

  .products-image {
    width: 120px;
    border-right: 2px solid #ebebeb;
    padding: 10px;
  }

  .products-title-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
  }

  .title {
    display: block;
    font-size: 10px;
  }

  .price {
    border: none;
  }
}

@media screen and (min-width: 488px) {
  .title {
    display: none;
  }
}
